.products {
  margin-top: 35px;
}
.products-nav {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.product-nav {
  font-size: 16px;
}
.product-table {
  width: 95%;
  font-size: 14px;
  border-spacing: 0;
}
td {
  padding: 10px;
  border-bottom: 1px solid rgb(213, 245, 253);
}

.marg{
margin-left: 15px !important;
}